<section data-ng-init="getAll()">
  <button data-ng-click="logout()">Logout</button>
  <hr>
  <div data-entry-writer
    data-entry="newEntry"
    data-save="create(newEntry)"
    data-button-text="'Save New Entry'"
    >
  </div>


  <hr>
  <article id="entryList" data-ng-repeat="entry in entries">
    <div data-ng-if="!entry.editing">
      <h3>{{entry.title}}</h3>
      <p>{{entry.entryBody}}</p>
      <button data-ng-click="edit(entry)">Edit</button>
    </div>
    <div data-entry-writer
      data-ng-if="entry.editing"
      data-entry="entry"
      data-save="update(entry)"
      data-button-text="'Save Edited Entry'">
    </div>
      <button data-ng-if="entry.editing" data-ng-click="cancelEdit(entry)">Cancel</button>
    <p>Date Posted: {{entry.datePosted}}</p>
    <p data-ng-if="entry.dateEdited">Date Edited: {{entry.dateEdited}}</p>
    <p>
      Votes: {{entry.votes}}
    </p>

    <button data-ng-click="entry.checking = true" data-ng-if="!entry.checking">Delete Entry</button>
    <div data-ng-if="entry.checking">
      Are you sure?
      <button data-ng-click="destroy(entry)">Yes</button>
      <button data-ng-click="entry.checking = false">No</button>
    </div>

    <hr>
  </article>
</section>

